	<footer class="footer">
    	<div class="container">
        	<p class="text-muted">&copy; YelpCamp 2021 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
		</div>
    </footer>

<!-- <p> TradeMark YelpCamp 2021 </p> -->
	<!-- jQuery library -->
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</body>
</html>